<p-dialog header="Release Notes" [modal]="true" [(visible)]="visible" (onHide)="visibleChange.emit(false)" [style]="{ width: '50rem', color: 'var(--primary-color)' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <h2>v2.0 - May 2025</h2>
    <ul>
        <li>Migrated to Angular 19</li>
        <li>Redesigned the user interface</li>
        <li>Applied SpaceSUITE project styles</li>
    </ul>
    
    <h2>v1.02 - February 2022</h2>
    <ul>
        <li>Linked Introduction video</li>
        <li>Minor fixes</li>
    </ul>

    <h2>v1.01 - December 2020</h2>
    <ul>
        <li>Linked User Manual and Privacy Policy</li>
        <li>Users can automatically join organizations</li>
    </ul>

    <h2>v1.0 - September 2020</h2>
    <ul>
        <li>Look and feel and usability as the other tools</li>
        <li>Annotate PDFs with Bok concepts</li>
        <li>Download your BoK annotated PDF</li>
    </ul>
</p-dialog>
