<!-- Initial state -->
@if(!bokDataLoaded){
    <div class="flex align-items-center gap-2 my-2">
        <i class="pi pi-spin pi-spinner"></i>
        <span>Loading BoK data...</span>
    </div>
}
@else{
    @if(!extractionProgress && modelLoadProgress == null && !processingProgress && !bokMatchingResult) {
        <div>
            <span>
                AI automatically identify potential BoK concepts associated with your document. 
                <i class="pi pi-info-circle" 
                    pTooltip="All processing is done locally in your browser. It may take some time."
                    tooltipPosition="right"
                    tooltipEvent="hover">
                </i>
            </span>
        </div>
    }
}

<div class="flex flex-column gap-3">

    <!-- Extraction Progress -->
    <ng-container *ngIf="extractionProgress">
        <p class="m-0">Extracting text | Page {{ extractionProgress.current }}/{{ extractionProgress.total }} ({{ calcPercent(extractionProgress) }}%)</p>
        <p-progressbar [value]="calcPercent(extractionProgress)" class="custom-progress-bar"/>
    </ng-container>
    
    <!-- Model Download Progress -->
    <ng-container *ngIf="modelLoadProgress !== null">
        <p class="m-0">Downloading model | {{ modelLoadProgress }}%</p>
        <p-progressbar [value]="modelLoadProgress" class="custom-progress-bar"/>
    </ng-container>

    <!-- Processing Progress -->
    <ng-container *ngIf="processingProgress">
        <p class="m-0">Matching BoK | Block {{ processingProgress.current }}/{{ processingProgress.total }} ({{ calcPercent(processingProgress) }}%)</p>
        <p-progressbar [value]="calcPercent(processingProgress)" class="custom-progress-bar"/>
    </ng-container>

    <!-- Results -->
    @if(bokMatchingResult && !processingProgress) {
        <div>
            <span class="text-sm font-italic">
                Drag and drop concepts into the 'Knowledge Annotated' section to annotate. 
            </span>
        </div>
        @if(bokMatchingResult.matches.length > 0) {
            <div cdkDropList cdkDropListSortingDisabled class="flex align-items-start gap-2 mt-2 mb-4 flex-wrap" cdkDropListOrientation="mixed">
                @for(match of bokMatchingResult.matches; track match.conceptId) {
                    <p-chip [label]="'[' + match.conceptId + '] ' + match.conceptName" [style.background]="getBackgroundColor(match.conceptId) | async" 
                        [class.selected-chip]="match.conceptId === selectedConcept?.conceptId" cdkDrag [cdkDragData]="match.conceptId"
                        [class.unselected-chip]="match.conceptId !== selectedConcept?.conceptId" (cdkDragStarted)="selectedConcept = match"
                        class="lg:white-space-nowrap cursor-pointer custom-chip" (click)="selectAIMatch(match)" />
                }
            </div>

            <p-message class="custom-message">
                @if (selectedConcept) {
                    <div class="p-2 flex flex-column flex-grow-1">
                        <div class="flex align-items-start gap-2 mb-2">
                            <div class="flex justify-content-between align-items-start flex-1">
                                <div class="flex flex-column">
                                    <div><span class="font-medium">{{ selectedConcept.conceptId }}</span> <span> {{ selectedConcept.conceptName }}</span></div>
                                    <span *ngIf="selectedConcept.pageNumber" class="text-xs">Page {{ selectedConcept.pageNumber }}</span>
                                </div>
                                <span class="text-sm bg-primary text-white px-2 py-1 border-round-sm text-center" style="width: 3.5rem;">{{ (selectedConcept.similarity * 100).toFixed(1) }}%</span>
                            </div>
                        </div>
                        <div *ngIf="selectedConcept.matchingSentence" class="text-sm font-italic border-left-2 border-300 pl-2 ml-4">"{{ selectedConcept.matchingSentence }}"</div>
                    </div>
                }
                @else {
                    <div class="p-2">
                        Select a concept to see information about the match.
                    </div>
                }
            </p-message>
        }
        @else {
            <div>No concepts found above threshold. Try lowering it.</div>
        }
    }

    <!-- Settings Section -->
    <div class="flex flex-row gap-3 mt-4 max-w-30rem">
        <span class="text-sm font-medium vertical-align-top w-11rem">
            Similarity Threshold: {{ similarityThreshold.toFixed(2) }}
        </span>
        <div class="flex flex-1 flex-column gap-2 mt-1">
            <p-slider [(ngModel)]="similarityThreshold" (ngModelChange)="onFilterChange()" min="0.5" max="1.0" step="0.01" 
                class="w-full my-1 custom-slider"/>
            <div class="flex justify-content-between text-xs">
                <span>0.5</span><span>1.0</span>
            </div>
        </div>
    </div>
</div>
