<div class="flex flex-column flex-1 gap-4 my-2">
  <div class="flex flex-row gap-2 align-items-center">
    <p-fileupload mode="basic" chooseLabel="Upload File" chooseIcon="pi pi-upload" 
                accept="application/pdf" (onSelect)="onFileSelected($event)" 
                styleClass="justify-content-start custom-button"/>
    @if(fileSize && pageCount) {
      <span class="vertical-align-sub">
        ({{ fileSize }}, {{ pageCount }} pages)
      </span>
    }
  </div>
  
  <div *ngIf="showProgressBar">
    <p-progressbar [value]="progress" class="custom-progress-bar"/>
  </div>
</div>